*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/login-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    height: 105px;
    width: 180px;
}
.navbar{
    margin-left: 170px;
    z-index: 5;
    position: absolute;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 87vh;
    width: 100%;
    position: relative;
    background-color: black;
    opacity: 0.5;
}
.login{
    position: absolute;
    margin-top: 40px;
    height: 700px;
    width: 440px;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
}
.box1{
    color: #FFFFFFB3;
    height: 30vh;
    width: 100%;
    background-color: black;
    opacity: 0.85;
}
.footer-content{
    margin-top: 100px;
    margin: auto;
    max-width: 77vw;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
li{
    width:17vw;
}
.col1-items{
    flex-wrap: wrap;
    list-style: none;
    text-decoration:underline;
    display: flex;
    column-gap: 40px;
    line-height: 35px;
    font-size: 14px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
.col1-items:hover{
    cursor: pointer;
}