*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/login-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    height: 105px;
    width: 180px;
}
.navbar{
    margin-left: 170px;
    z-index: 5;
    position: absolute;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 87vh;
    width: 100%;
    position: relative;
    background-color: black;
    opacity: 0.5;
}
.login{
    position: absolute;
    margin-top: 40px;
    height: 700px;
    width: 440px;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
}
.box1{
    height: 30vh;
    width: 100%;
    background-color: black;
    opacity: 0.85;
}