*{
    margin: 0;
    padding: 0;
}
.box{
    margin: auto;
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    background: linear-gradient(orange, green, blue, pink);
    border-radius: 50%;
}

