*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navlogo{
    height: 90px;
    width: 160px;
}
.inp{
    padding: 5px;
    font-size: 18px;
    width: 20%;
}
.btn1{
    padding: 5px;
    font-size: 18px;
    width: 6vw;
    background-color: red;
    color: white;
    border: none;
}
